:root {  

   --bi-default-color: #545454;
   --bi-primary-color: #0275d8;
   --bi-secondary-color: #5bc0de; 
   --bi-success-color: #5cb85c; 
   --bi-danger-color: #d9534f; 
   --bi-warning-color: #f0ad4e;
   --bi-info-color: #5bc0de;
   --bi-light-color: #f7f7f7;
   --bi-dark-color: #292b2c;
   --bi-muted-color: #c0c0c0;

   --bi-text-primary: #0275d8;
   --bi-text-secondary: #6c757d; 
   --bi-text-success: #5cb85c; 
   --bi-text-danger: #d9534f; 
   --bi-text-warning: #f0ad4e;
   --bi-text-info: #5bc0de;
   --bi-text-muted: #6c757d;
   --bi-text-light: #f7f7f7;
   --bi-text-dark: #292b2c;

   /* typography */
   --bi-color-text: var(--bi-default-color);
   --bi-color-text-heading: var(--bi-text-dark);
   --bi-color-text-subtle: var(--bi-text-muted);
   --bi-color-link: var(--bi-primary-color);
   --bi-color-link-visited: var(--bi-primary-color);

   /** Style for tooltips */
   --bi-tooltip-bg: #292b2c;
   --bi-tooltip-color: #f7f7f7;

   /** Style for card */ 
   --bi-card-bg: #fbfbfb;  
   --bi-card-header-bg: #e0e0e0;
   --bi-card-header-color: #292b2c;
   --bi-card-content-bg: #fbfbfb;
   --bi-card-content-color: #292b2c;

   /** Style for dropdown */
   --bi-dropdown-bg: #fbfbfb;
   --bi-dropdown-color: var(--bi-default-color);
   --bi-dropdown-hover: #F5F5F5;
   --bi-dropdown-border: #c0c0c0;

   /** Style for accordion */
   --bi-accordion-bg: #fbfbfb;
   --bi-accordion-color: var(--bi-default-color);
   --bi-accordion-hover-bg: var(--bi-primary-color);
   --bi-accordion-hover-color: #fbfbfb;
   --bi-accordion-border: var(--bi-default-color);
   --bi-accordion-border-hover: var(--bi-primary-color);
   --bi-accordion-active-bg: var(--bi-primary-color);
   --bi-accordion-active-color: #fbfbfb;

   /** Style for datatable */
   --bi-datatable-paginator-bg: transparent !important;
   --bi-datatable-paginator-color: var(--bi-primary-color);
   --bi-datatable-paginator-bg-action: var(--bi-primary-color);
   --bi-datatable-paginator-color-action: #fbfbfb;
   --bi-datatable-paginator-info: var(--bi-primary-color);





}