/** ------------------------------- 
--         Typography            --
-------------------------------- */
:root {
    /** set font family */
    --bi-font-family: Arial, Helvetica, sans-serif;     

    /** set base values */
    --bi-font-size: 100%;
    --bi-line-height: 1.2;
    --bi-text-base-size: 100%;
    --bi-text-scale-ratio: 1.2;

    --bi-text-xs:   0.25em;
    --bi-text-sm:   0.5em;
    --bi-text-md:   1em;
    --bi-text-lg:   1.5em;
    --bi-text-xl:   2em;
    --bi-text-xxl:  2.5em;
    --bi-text-xxxl: 3em;

    /** line-height */
    --bi-heading-line-height: 1.2;
    --bi-body-line-height: 1.4;

    /** spacing values */
    --bi-space-xxxs: 0.25em;
    --bi-space-xxs:  0.375em;
    --bi-space-xs:   0.5em;
    --bi-space-sm:   0.75em;
    --bi-space-md:   1.25em;
    --bi-space-lg:   2em;
    --bi-space-xl:   3.25em;
    --bi-space-xxl:  5.25em;
    --bi-space-xxxl: 8.5em;
}

h1, h2, h3, h4, form legend {
    color: var(--bi-color-text-heading);
    margin-bottom: var(--bi-space-xxs);
    line-height: var(--bi-heading-line-height);
}

h1, h2, h3, h4, h5, h6, p {
    font-weight: 400;
}

/** text size */
.text--xxxl { font-size: var(--bi-text-xxxl); }

h1, .text--xxl {
    font-size: var(--bi-text-xxl);
}

h1 {
    /* margin-bottom: var(--bi-space-lg); */
}

h2, .text--xl {
    font-size: var(--bi-text-xl);
}

h2 {
    /* margin-bottom: var(--bi-space-md); */
}

h3, .text--lg {
    font-size: var(--bi-text-lg);
}

h4, .text--md {
    font-size: var(--bi-text-md);
}

small, .text--sm {
    font-size: var(--bi-text-sm);
}

.text--xs {
    font-size: var(--bi-text-xs);
}

p {
    line-height: var(--bi-body-line-height);
    margin-bottom: var(--bi-space-sm);
}

a {
    color: var(--bi-color-link);
}
a:visited {
    color: var(--bi-color-link-visited);
}

b, strong {
    font-weight: bold;
}

/** Transform text in uppercase */
.uppercase {
    text-transform: uppercase;
}

/* Increase font sizes by 1.5x on bigger screens */
@media (min-width: 48rem) {
    :root {          
        --bi-text-xs:   0.5em;
        --bi-text-sm:   1em;
        --bi-text-md:   1.5em;
        --bi-text-lg:   2em;
        --bi-text-xl:   2.5em;
        --bi-text-xxl:  3em;
        --bi-text-xxxl: 3.5em;
    }
}