[bi='card'],
.bi-card {
  width: 100%;
  background: var(--bi-card-bg);
  border: var(--bi-card-border);
  border-radius: var(--bi-border-radius);
  transition: 0.3s;
}
[bi='card'] > header,
.bi-card > .bi-card-header {
  color: var(--bi-card-header-color);
  background: var(--bi-card-header-bg);
  border-top-left-radius: var(--bi-border-radius);
  border-top-right-radius: var(--bi-border-radius);  
  padding: 10px;
}
[bi='card'] > section,
[bi='card'] > div,
.bi-card > .bi-card-content {
  min-height: 85px;
  color: var(--bi-card-content-color);
  background: var(--bi-card-content-bg);
  padding: 10px;    
}
[bi='card'] > footer,
.bi-card > .bi-card-footer {
  color: var(--bi-card-footer-color);
  background: var(--bi-card-footer-bg);
  padding: 10px;    
}
[bi='card'] > :last-child, 
.bi-card > :last-child {
  border-bottom-left-radius: var(--bi-border-radius);
  border-bottom-right-radius: var(--bi-border-radius);
}