/**/
[data-bi='tooltip'] {
	position: relative;
	display: inline-block;
	cursor: pointer;
}

/* Applies to all tooltips */
[data-bi='tooltip']::before,
[data-bi='tooltip']::after {
	text-transform: none;
	font-size: 0.9em;
	line-height: 1;
	user-select: none;
	pointer-events: none;
	position: absolute;
	display: none;
	opacity: 0;
}

[data-bi='tooltip']::before {
	content: "";
	border: 5px solid transparent;
	z-index: 1001;
}

[data-bi='tooltip']::after {
	content: attr(bi-tooltip);
	text-align: center;
	-webkit-backdrop-filter: blur(20px);
	backdrop-filter: blur(20px);
	min-width: 3em;
	max-width: 21em;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	padding: 1.3ch 1.5ch;
	border-radius: 0.3ch;
	background: var(--bi-tooltip-bg);
	color: var(--bi-tooltip-color);
	z-index: 1000;
}

/* Make the tooltips respond to hover */
[data-bi='tooltip']:hover::before,
[data-bi='tooltip']:hover::after {
	display: block;
}

/* Don't show empty tooltips */
[tooltip=""]::before,
[tooltip=""]::after {
	display: none !important;
}

/* FLOW: TOP */
[data-bi="tooltip"]:not([bi-tooltip-pos])::before,
[data-bi="tooltip"][bi-tooltip-pos^="top"]::before {
	bottom: 100%;
	border-bottom-width: 0;
	border-top-color: var(--bi-tooltip-bg);
}

[data-bi="tooltip"]:not([bi-tooltip-pos])::after,
[data-bi="tooltip"][bi-tooltip-pos^="top"]::after {
	bottom: calc(100% + 5px);
}

[data-bi="tooltip"]:not([bi-tooltip-pos])::before,
[data-bi="tooltip"]:not([bi-tooltip-pos])::after,
[data-bi="tooltip"][bi-tooltip-pos^="top"]::before,
[data-bi="tooltip"][bi-tooltip-pos^="top"]::after {
	left: 50%;
	transform: translate(-50%, -0.5em);
}

/* FLOW: BOTTOM */
[data-bi="tooltip"][bi-tooltip-pos^="bottom"]::before {
	top: 100%;
	border-top-width: 0;
	border-bottom-color: var(--bi-tooltip-bg);
}

[data-bi="tooltip"][bi-tooltip-pos^="bottom"]::after {
	top: calc(100% + 5px);
}

[data-bi="tooltip"][bi-tooltip-pos^="bottom"]::before,
[data-bi="tooltip"][bi-tooltip-pos^="bottom"]::after {
	left: 50%;
	transform: translate(-50%, 0.5em);
}

/* FLOW: LEFT */
[data-bi="tooltip"][bi-tooltip-pos^="left"]::before {
	top: 50%;
	border-right-width: 0;
	border-left-color: var(--bi-tooltip-bg);
	left: calc(0em - 6px);
	transform: translate(-0.5em, -50%);
}

[data-bi="tooltip"][bi-tooltip-pos^="left"]::after {
	top: 50%;
	right: calc(100% + 5px);
	transform: translate(-0.5em, -50%);	
}

/* FLOW: RIGHT */
[data-bi="tooltip"][bi-tooltip-pos^="right"]::before {
	top: 50%;
	border-left-width: 0;
	border-right-color: var(--bi-tooltip-bg);
	right: calc(0em - 5px);
	transform: translate(0.5em, -50%);
}

[data-bi="tooltip"][bi-tooltip-pos^="right"]::after {
	top: 50%;
	left: calc(100% + 5px);
	transform: translate(0.5em, -50%);
}

/* KEYFRAMES */
@keyframes tooltips-vert {
	to {
		opacity: 0.9;
		transform: translate(-50%, 0);
	}
}

@keyframes tooltips-horz {
	to {
		opacity: 0.9;
		transform: translate(0, -50%);
	}
}

/* FX All The Things */
[data-bi="tooltip"]:not([bi-tooltip-pos]):hover::before,
[data-bi="tooltip"]:not([bi-tooltip-pos]):hover::after,
[data-bi="tooltip"][bi-tooltip-pos^="top"]:hover::before,
[data-bi="tooltip"][bi-tooltip-pos^="top"]:hover::after,
[data-bi="tooltip"][bi-tooltip-pos^="bottom"]:hover::before,
[data-bi="tooltip"][bi-tooltip-pos^="bottom"]:hover::after {
	animation: tooltips-vert 300ms ease-out forwards;
}

[data-bi="tooltip"][bi-tooltip-pos^="left"]:hover::before,
[data-bi="tooltip"][bi-tooltip-pos^="left"]:hover::after,
[data-bi="tooltip"][bi-tooltip-pos^="right"]:hover::before,
[data-bi="tooltip"][bi-tooltip-pos^="right"]:hover::after {
	animation: tooltips-horz 300ms ease-out forwards;
}