/** -------------------------------
--        Birdie Accordion       --
-------------------------------- */
/** Birdie Accordion */
[bi='accordion'],
.bi-accordion {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: var(--bi-accordion-border);
  border-radius: var(--bi-accordion-border-radius);  
  background: var(--bi-accordion-bg);
  color: var(--bi-accordion-color);
  transition: border-color 0.3s;
}

[bi='accordion'] > details,
.bi-accordion > details,
.bi-accordion > .bi-accordion-item {
  display: flex;
  border-bottom: var(--bi-accordion-border);
}

[bi='accordion'] > :last-child,
.bi-accordion > :last-child {
  border-bottom: none !important;
  margin-bottom: 0;
}

[bi='accordion'] > details > summary,
.bi-accordion > details > summary,
.bi-accordion > .bi-accordion-item > .bi-accordion-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--bi-accordion-label-bg);
  color: var(--bi-accordion-label-color);
  padding: 15px;
  font-size: 1em;
  cursor: pointer;
  outline: none;
  position: relative;
}

[bi='accordion'] > details > summary::after,
.bi-accordion > details > summary::after,
.bi-accordion > .bi-accordion-item > .bi-accordion-header::after {
  content: '+';
  font-size: 20px;
  color: var(--bi-accordion-label-color);
}

[bi='accordion'] > details > summary::-webkit-details-marker,
.bi-accordion > details > summary::-webkit-details-marker,
.bi-accordion > .bi-accordion-item > .bi-accordion-header::-webkit-details-marker {
  display: none;
}

[bi='accordion'] > details > summary::marker,
.bi-accordion > details > summary::marker,
.bi-accordion > .bi-accordion-item > .bi-accordion-header::marker {
  display: none;
}

[bi='accordion'] > details > summary::-moz-list-bullet,
.bi-accordion > details > summary::-moz-list-bullet,
.bi-accordion > .bi-accordion-item > .bi-accordion-header::-moz-list-bullet {
  list-style-type: none;
}
 
[bi='accordion'] > :first-child > summary,
.bi-accordion > :first-child > summary,
.bi-accordion > :first-child > .bi-accordion-header {
  border-top-left-radius: var(--bi-accordion-border-radius);
  border-top-right-radius: var(--bi-accordion-border-radius);  
}

[bi='accordion'] > details > summary:hover,
.bi-accordion > details > summary:hover,
.bi-accordion > .bi-accordion-item > .bi-accordion-header:hover {
  background-color: var(--bi-accordion-label-bg-hover); /* #e1e1e1; */
}

[bi='accordion'] > :last-child > summary,
.bi-accordion > :last-child > summary,
.bi-accordion > :last-child > .bi-accordion-header {
  border-bottom-left-radius: var(--bi-accordion-border-radius);
  border-bottom-right-radius: var(--bi-accordion-border-radius);
}

[bi='accordion'] > details[open] > summary,
.bi-accordion > details[open] > summary,
.bi-accordion > .bi-accordion-item[open] > .bi-accordion-header {
  background-color: var(--bi-accordion-label-bg-active); 
  border-bottom: var(--bi-accordion-label-border-bottom-active);
}

[bi='accordion'] > details[open] > summary::after,
.bi-accordion > details[open] > summary::after,
.bi-accordion > .bi-accordion-item[open] > .bi-accordion-header::after {
  content: '-';
  color: var(--bi-accordion-label-color);
}

[bi='accordion'] > :last-child[open] > summary,
.bi-accordion > :last-child[open] > summary,
.bi-accordion > :last-child[open] > .bi-accordion-header {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

[bi='accordion'] > details > div,
[bi='accordion'] > details > section,
.bi-accordion > details > div,
.bi-accordion > details > section,
.bi-accordion > .bi-accordion-item > .bi-accordion-content {
  padding: 10px;
  background: var(--bi-accordion-content-bg);
  color: var(--bi-accordion-content-color);
}