/** ------------------------------- 
--         Textfields            --
-------------------------------- */
/** Reset default style in browsers */
::placeholder,
::-ms-input-placeholder,
:-ms-input-placeholder { 
  color: --bi-default-color;    
}

::placeholder {  
  opacity: 1;
}

input::-moz-focus-inner,
textarea::-moz-focus-inner {
  border: none;
  outline: none;
}

[bi='textfield'],
.bi-textfield {
  position: relative;
  display: inline-block;
  width: 100%;
  min-width: 300px;
}

[bi='textfield'],
.bi-textfield > input,
.bi-textfield > textarea {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  position: relative;
  display: inline-flex;
  align-items: center;
  width: 100%;
  padding: 10px;
  border: var(--bi-textfield-border);
  border-radius: var(--bi-textfield-border-radius);
  background-color: var(--bi-textfield-bg);
  color: var(--bi-textfield-color);
  font-size: 1em;
  line-height: 1.5; 
  cursor: pointer;
  transition: border-color 0.3s, box-shadow 0.3s;
  margin-bottom: 5px;
}

[bi='textfield']:is(textarea),
.bi-textfield > textarea {
  min-height: 6em;
  resize: none;
}

[bi='textfield']:focus,
[bi='textfield']:focus-within,
.bi-textfield > input:focus,
.bi-textfield > input:focus-within,
.bi-textfield > textarea:focus,
.bi-textfield > textarea:focus-within {
  border-color: var(--bi-textfield-focus-border-color);
  box-shadow: var(--bi-textfield-focus-box-shadow);
  outline: none;
}

[bi='textfield']::placeholder,
.bi-textfield > input::placeholder,
.bi-textfield > textarea::placeholder {
  color: var(--bi-textfield-color);
  opacity: 1;
}

[bi='textfield']:disabled,
[bi='textfield'][readonly],
.bi-textfield > input:disabled,
.bi-textfield > input[readonly],
.bi-textfield > textarea:disabled,
.bi-textfield > textarea[readonly] {
  background-color: var(--bi-textfield-muted-bg);
  color: var(--bi-textfield-muted-color);
  cursor: not-allowed;
}

[bi='textfield']:hover,
.bi-textfield > input:hover,
.bi-textfield > textarea:hover {
  border-color: var(--bi-textfield-hover-border-color);
}

[bi='textfield']:hover:disabled,
.bi-textfield > input:hover:disabled,
.bi-textfield > textarea:hover:disabled {
  border-color: var(--bi-textfield-hover-muted-border-color);
}