/** ------------------------------- 
--      Birdie Selections        --
-------------------------------- */
/** Reset default style in browsers */
::placeholder {  
  opacity: 1;
}

input::-moz-focus-inner,
select::-moz-focus-inner {
  border: none;
  outline: none;
}

/** Birdie Checkbox and Radio usign class or pure tag html */
label[bi-checkbox="true"],
label[bi-radio="true"],
.bi-checkbox, .bi-radio {
  z-index: 0;
  position: relative;
  display: inline-flex;
  align-items: center;
  color: var(--bi-color-default);
  font-size: 16px;
  line-height: 1.5;
  cursor: pointer;
}

label[bi-checkbox="true"] > input[type="checkbox"],
label[bi-radio="true"] > input[type="radio"],
.bi-checkbox > input, .bi-radio > input {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  z-index: 1;
  position: absolute;
  display: block;
  box-sizing: border-box;
  margin: 3px 1px;
  border: var(--bi-border); 
  border-radius: var(--bi-border-radius);
  width: 18px;
  height: 18px;
  outline: none;
  cursor: pointer;
  -webkit-transition: border-color 0.2s, background-color 0.2s;
  -moz-transition: border-color 0.2s, background-color 0.2s;
  transition: border-color 0.2s, background-color 0.2s;
}

label[bi-radio="true"] > input[type="radio"],
.bi-radio > input {
  margin: 2px 0;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  -webkit-transition: border-color 0.2s;
  -moz-transition: border-color 0.2s;
  transition: border-color 0.2s;
}

label[bi-checkbox="true"] > input[type="checkbox"] + span,
label[bi-radio="true"] > input[type="radio"] + span,
.bi-checkbox > input + span,
.bi-radio > input + span {
  display: inline-block;
  box-sizing: border-box;
  padding-left: 30px;
  width: inherit;
  cursor: pointer;
}

label[bi-checkbox="true"] > input[type="checkbox"] + span::before,
label[bi-radio="true"] > input[type="radio"] + span::before,
.bi-checkbox > input + span::before,
.bi-radio > input + span::before {
  content: "";
  position: absolute;
  left: -10px;
  top: -8px;
  display: block;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: var(--bi-selections-bg-active);
  opacity: 0;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  -moz-transform: scale(1);
  transform: scale(1);
  pointer-events: none;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.2s;
  -moz-transition: opacity 0.3s, -moz-transform 0.2s;
  transition: opacity 0.3s, transform 0.2s;
}

label[bi-radio="true"] > input[type="radio"] + span::before,
.bi-radio > input + span::before {
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  -moz-transform: scale(0);
  transform: scale(0);
}

label[bi-checkbox="true"] > input[type="checkbox"] + span::after,
.bi-checkbox > input + span::after {
  z-index: 1;
  content: "";  
  display: block;
  position: absolute;
  top: 3px;
  left: 1px;
  box-sizing: content-box;
  width: 10px;
  height: 5px;
  border: 2px solid transparent;
  border-right-width: 0;
  border-top-width: 0;
  pointer-events: none;
  -webkit-transform: translate(3px, 4px) rotate(-45deg);
  -ms-transform: translate(3px, 4px) rotate(-45deg);
  -moz-transform: translate(3px, 4px) rotate(-45deg);
  transform: translate(3px, 4px) rotate(-45deg);
  -webkit-transition: border-color 0.2s;
  -moz-transition: border-color 0.2s;
  transition: border-color 0.2s;
}

label[bi-radio="true"] > input[type="radio"] + span::after,
.bi-radio > input + span::after {
  content: "";
  display: block;
  position: absolute;
  top: 2px;
  left: 0;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  background-color: var(--bi-color-primary);
  -webkit-transform: translate(5px, 5px) scale(0);
  -ms-transform: translate(5px, 5px) scale(0);
  -moz-transform: translate(5px, 5px) scale(0);
  transform: translate(5px, 5px) scale(0);
  -webkit-transition: -webkit-transform 0.1s;
  -moz-transition: -moz-transform 0.1s;
  transition: transform 0.1s;
}

label[bi-checkbox="true"] > input[type="checkbox"]:checked,
label[bi-checkbox="true"] > input[type="checkbox"]:indeterminate,
.bi-checkbox > input:checked,
.bi-checkbox > input:indeterminate {
  border-color: var(--bi-selections-color);
  background-color: var(--bi-selections-color);
}

label[bi-checkbox="true"] > input[type="checkbox"]:checked + span::before,
label[bi-checkbox="true"] > input[type="checkbox"]:indeterminate + span::before,
.bi-checkbox > input:checked + span::before,
.bi-checkbox > input:indeterminate + span::before {
  background-color: var(--bi-selections-color);
}

label[bi-checkbox="true"] > input[type="checkbox"]:checked + span::after,
label[bi-checkbox="true"] > input[type="checkbox"]:indeterminate + span::after,
.bi-checkbox > input:checked + span::after,
.bi-checkbox > input:indeterminate + span::after {
  border-color: var(--bi-white);
}

label[bi-checkbox="true"] > input[type="checkbox"]:indeterminate + span::after,
.bi-checkbox > input:indeterminate + span::after {
  border-left-width: 0;
  -webkit-transform: translate(4px, 3px);
  -ms-transform: translate(4px, 3px);
  -moz-transform: translate(4px, 3px);
  transform: translate(4px, 3px);
}

label[bi-radio="true"] > input[type="radio"]:checked,
.bi-radio > input:checked {
  border-color: var(--bi-selections-color);
}

label[bi-radio="true"] > input[type="radio"]:checked + span::before,
.bi-radio > input:checked + span::before {
  background-color: var(--bi-white);
}

label[bi-radio="true"] > input[type="radio"]:checked + span::after,
.bi-radio > input:checked + span::after {
  -webkit-transform: translate(5px, 5px) scale(1);
  -ms-transform: translate(5px, 5px) scale(1);
  -moz-transform: translate(5px, 5px) scale(1);
  transform: translate(5px, 5px) scale(1);
}

label[bi-checkbox="true"]:hover > input[type="checkbox"],
label[bi-radio="true"]:hover > input[type="radio"],
.bi-checkbox:hover > input,
.bi-radio:hover > input {
  border-color: var(--bi-selections-color);
}

label[bi-checkbox="true"]:hover > input[type="checkbox"] + span::before,
.bi-checkbox:hover > input + span::before {
  opacity: 0.04;  
  color: var(--bi-selections-color);
}

label[bi-radio="true"]:hover > input[type="radio"] + span::before,
.bi-radio:hover > input + span::before {
  opacity: 0.04;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  -moz-transform: scale(1);
  transform: scale(1);
}

label[bi-checkbox="true"] > input[type="checkbox"]:disabled,
label[bi-radio="true"] > input[type="radio"]:disabled,
.bi-checkbox > input:disabled,
.bi-radio > input:disabled {   
  cursor: initial;
  border-color: var(--bi-color-muted);
}

label[bi-checkbox="true"] > input[type="checkbox"]:checked:disabled,
label[bi-checkbox="true"] > input[type="checkbox"]:indeterminate:disabled,
.bi-checkbox > input:checked:disabled,
.bi-checkbox > input:indeterminate:disabled {
  border-color: transparent;
  background-color: var(--bi-color-muted);
}

label[bi-checkbox="true"] > input[type="checkbox"] + span,
label[bi-radio="true"] > input[type="radio"] + span,
.bi-checkbox > input:disabled + span,
.bi-radio > input:disabled + span {
  cursor: initial;
  color: var(--bi-color-muted);   
}

label[bi-checkbox="true"] > input[type="checkbox"]:disabled + span::before,
label[bi-radio="true"] > input[type="radio"]:disabled + span::before,
.bi-checkbox > input:disabled + span::before,
.bi-radio > input:disabled + span::before {
  opacity: 0;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  -moz-transform: scale(0);
  transform: scale(0);
}

label[bi-radio="true"] > input[type="radio"]:disabled + span::after,
.bi-radio > input:disabled + span::after {
  background-color: currentColor;
}

/** Birdie Switch */
label[bi-switch="true"],
.bi-switch {
  position: relative;
  display: inline-flex;
  align-items: center;
  width: 60px;
  height: 30px;
  cursor: pointer !important;
}

label[bi-switch="true"] > input,
.bi-switch > input {
  opacity: 0;
  width: 0;
  height: 0;
}

label[bi-switch="true"]:hover > input + span::before,
.bi-switch:hover > input + span::before {
  opacity: 0;
}

label[bi-switch="true"] > input + span,
.bi-switch > input + .bi-slider-sw {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--bi-switch-bg);
  -webkit-transition: .4s;
  -moz-transition: .4s;
  transition: .4s;
  cursor: pointer;
}

label[bi-switch="true"] > input:checked + span,
.bi-switch > input:checked + .bi-slider-sw {
  background-color: var(--bi-switch-bg-active);
  cursor: pointer;
}

label[data-round="true"] > input + span,
.bi-switch > input + .bi-slider-sw.round {
  border-radius: 30px;
} 

label[bi-switch="true"] > input:checked + ::after,
.bi-switch > input:checked + ::after {
  content: "";
  position: absolute;
  height: 22px;
  width: 22px;
  left: 6px;
  bottom: 4px;
  border-radius: 50%;
  background-color: var(--bi-switch-color-active);
  -webkit-transition: .4s;
  -moz-transition: .4s;
  transition: .4s;
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  -moz-transform: translateX(26px);
  transform: translatex(26px);
  cursor: pointer;
}

label[bi-switch="true"] > input:not(:checked) + ::after,
.bi-switch > input:not(:checked) + ::after {
  content: "";
  position: absolute;
  height: 22px;
  width: 22px;
  left: 6px;
  bottom: 4px;
  border-radius: 50%; 
  background-color: var(--bi-switch-color);
  cursor: pointer;
  -webkit-transition: .4s;
  -moz-transition: .4s;
  transition: .4s;
}

label[bi-switch="true"] > input:disabled + ::before,
.bi-switch > input:disabled + ::before {
  cursor: not-allowed;
  background-color: var(bi-switch-color-bg-muted);
}

label[bi-switch="true"] > input:disabled + ::after,
.bi-switch > input:disabled + ::after {
  cursor: not-allowed;
  background-color: var(bi-switch-color-muted);
}

label[bi-switch="true"] > input:disabled + span,
.bi-switch > input:disabled + .bi-slider-sw {
  cursor: not-allowed;
  background-color: var(bi-switch-color-bg-muted);
}

 

::-moz-selection {
  background-color: magenta
}

::selection {
  background-color: mediumslateblue;
}

.bi-select {
  position: relative;
  font-family: Arial, sans-serif;
}

.bi-select select {
  display: none;
}

.bi-select-selected {
  background-color: #f1f1f1;
  padding: 10px;
  border: 1px solid #ccc;
  cursor: pointer;
  user-select: none;
  position: relative;
}

.bi-select-selected::after {
  /* content: "▼";
  position: absolute;
  right: 10px;
  top: 14px; */
  content: "";
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid var(--bi-dropdown-color);
  transition: transform 0.3s;
}

.bi-select-items {
  position: absolute;
  background-color: white;
  border: 1px solid #ccc;
  z-index: 99;
  max-height: 200px;
  overflow-y: auto;
  width: 100%;
  box-sizing: border-box;
}

.bi-select-items div {
  padding: 10px;
  cursor: pointer;
}

.bi-select-items div:hover, 
.bi-same-as-selected {
  background-color: #f1f1f1;
}

.bi-select-hide {
  display: none;
}

.bi-select-arrow-active::after {
  transform: translateY(-50%) rotate(360deg);
  border-top: none;
  border-bottom: 5px solid var(--bi-dropdown-color);
}

.bi-select-selected.disabled {
  background-color: #e9ecef;
  border: 1px solid #ced4da;
  cursor: not-allowed;
  color: #6c757d;
}

.bi-select-selected.disabled::after {
  border-top: 5px solid #6c757d;
  border-bottom: none;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}

/*
.bi-select > select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-family: inherit;
  font-size: inherit;
  font-weight: 400;
  line-height: inherit;
  display: block;
  width: 100%;
  height: 2.8em;
  border: none;
  margin: 0;
  padding: 0.375rem 0.75rem;
  color: var(--bi-textfield-color);
  background-color: transparent;
  border: var(--bi-textfield-border);
  border-radius: var(--bi-textfield-border-radius);
  outline: none;
  transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  cursor: pointer;
}
 
.bi-select > select:hover {
  border-color: var(--bi-color-primary);
}

.bi-select > select:focus,
.bi-select > select:focus-visible {
  color: var(--bi-textfield-color);
  background-color: #fff;
  border-color: #80bdff;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  outline: 0;
}
 
.bi-select > select:disabled,
.bi-select > select[readonly] {
  background-color: var(--bi-textfield-muted-bg);
  border: var(--bi-textfield-muted-border);
  color: var(--bi-textfield-color);
  cursor: not-allowed;
  opacity: 1;
} 
*/ 
/*
.bi-select {
  display: flex;
  width: 100%;
  height: 2.5em;
  font-size: 16px;
  line-height: 3;
  position: relative;     
  overflow: hidden;
  border-radius: 4px;
  background: transparent !important;
  border: var(--bi-selections-border);
}
.bi-select::after {
  content: "";
  position: absolute;
  right: 20px;
  top: 10px;
  z-index: 9999;
  width: 12px;
  height: 12px;   
  border: 2px solid grey;
  border-top: transparent;
  border-right: transparent;
  cursor: pointer;
  transform: rotate(-45deg);
  pointer-events: none;
  transition: all 0.3s linear;
 }
.bi-select > select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: none;
  background-image: none;
  background: transparent !important;
  flex: 1;
  padding: 0 .5em;
  color: var(--bi-color-default);   
  cursor: pointer;
  font-size: 1em;
  font-family: inherit;
}
.bi-select > select::-ms-expand {
  display: none;
}
.bi-select:hover {
  border-color: var(--bi-color-primary);
}
.bi-select > select:focus,
.bi-select > select:active,
.bi-select > select:focus-within,
.bi-select > select:active-within {
  border-radius: var(--bi-default-border-radius);
  background: magenta !important;
}

.bi-select[disabled] {
  color: var(--bi-color-muted);
  border-color: var(--bi-color-muted) !important;
}
.bi-select[disabled] > select {
  color: var(--bi-color-muted);
}
.bi-select[disabled]:hover::after {
  color: var(--bi-color-muted);
}
*/