/** -------------------------------
--        Birdie Accordion       --
-------------------------------- */

/** Birdie Accordion */

.bi-accordion {
    width: 80%;
    border-radius: 4px;
    border: 1px solid var(--bi-accordion-border);
    color: var(--bi-accordion-color);
}

.bi-accordion:hover {
    border-color: var(--bi-accordion-border-hover);    
}

.bi-accordion-tabs {
    border-radius: 4px;
    overflow: hidden;
    /* box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.5); */    
}

.bi-accordion-tab {
    width: 100%;    
    overflow: hidden;
}

.bi-accordion-tab-label {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    background: transparent;
    font-weight: bold;
    cursor: pointer;
}

.bi-accordion-tab-label:hover {
    background: var(--bi-accordion-hover-bg); /*#1a252f*/
    color: var(--bi-accordion-hover-color);
}

.bi-accordion-tab-label::after {
    content: "❯";
    width: 1em;
    height: 1em;
    text-align: center;
    transition: all 0.35s;
}

.bi-accordion-tab-content {
    max-height: 0;
    padding: 0 1em;
    color: #2c3e50;
    background: white;
    transition: all 0.35s;
}

.bi-accordion-tab-close {
    display: flex;
    justify-content: flex-end;
    padding: 1em;
    font-size: 0.75em;
    background: transparent; /*#2c3e50*/
    cursor: pointer;
}

.bi-accordion-tab-close:hover {
    background: var(--bi-accordion-hover-bg); /*#1a252f*/
    color: var(--bi-accordion-hover-color);
}

.bi-accordion input {
    position: absolute;
    opacity: 0;
    z-index: -1;
}
.bi-accordion input:checked + .bi-accordion-tab-label {
    background: var(--bi-accordion-active-bg);/* #1a252f*/
    color: var(--bi-accordion-active-color);
}
.bi-accordion input:checked + .bi-accordion-tab-label::after {
    transform: rotate(90deg);
}
.bi-accordion input:checked ~ .bi-accordion-tab-content {
    max-height: 100vh;
    padding: 1em;
}
.bi-accordion input:checked + .bi-accordion {
    border-color: var(--bi-accordion-border-hover); 
}