
.birdie-datatable,
.birdie-datatable--striped,
.birdie-datatable--bordered {
   width: 100%;
   max-width: 100%;
   margin-bottom: 2rem;
   border-collapse: collapse;
   border-spacing: 0;
   empty-cells: show;
   border: 1px solid #cbcbcb;
   /* border-radius: 4px; */
   background-color: var(--birdie-datatable-bg);
}

.birdie-datatable caption,
.birdie-datatable--striped caption,
.birdie-datatable--bordered caption {
   color: #000;
   font: italic 85%/1 arial, sans-serif;
   padding: 1em 0;
   text-align: center;
}

.birdie-datatable td,
.birdie-datatable th,
.birdie-datatable--striped td,
.birdie-datatable--striped th,
.birdie-datatable--bordered td,
.birdie-datatable--bordered th {
   border-left: 1px solid #cbcbcb; 
   border-width: 0 0 0 1px;
   font-size: inherit;
   margin: 0;
   overflow: visible;
   padding: 0.5em 1em;
}

.birdie-datatable thead,
.birdie-datatable--striped thead,
.birdie-datatable--bordered thead {   
   color: #000;
   text-align: left;
   vertical-align: bottom;    
   background-color: #e0e0e0;
}

.birdie-datatable thead th
{
   /* padding: 8px 0;  
   padding-left: 5px; */
}

 

/*
striping:
  even - #fff (white)
  odd  - #f2f2f2 (light gray)
*/
.birdie-datatable td,
.birdie-datatable--striped td {
   background-color: transparent;
}

.birdie-datatable--zebra td {
   background-color: #f2f2f2;
}

/* nth-child selector for modern browsers */
.birdie-datatable--striped tr:nth-child(2n-1) td {
   background-color: #f2f2f2;
}

/* BORDERED TABLES */
.birdie-datatable--bordered td {
   border-bottom: 1px solid #cbcbcb;
}
.birdie-datatable--bordered tbody > tr:last-child > td {
   border-bottom-width: 0;
}

/* HORIZONTAL BORDERED TABLES */
.pure-table-horizontal td,
.pure-table-horizontal th {
   border-width: 0 0 1px 0;
   border-bottom: 1px solid #cbcbcb;
}

.pure-table-horizontal tbody > tr:last-child > td {
   border-bottom-width: 0;
}