/** Formatng datatable */
.bi-datatable {
   display: flex;
   flex-direction: column; 
   width: 100%;
   border-collapse: collapse;
   margin: 0;
   padding: 0;
   table-layout: fixed;
}
.bi-datatable-controls {
   display: flex;
   flex-direction: row; 
   justify-content: flex-start; 
   align-items: center;
   width: 100%;
   padding: 5px 0;
}
.bi-datatable-controls .bi-dtc-select {
   display: flex;
   flex-direction: row; 
   justify-content: flex-start;
   width: 30%;
}
.bi-datatable-controls .bi-dtc-select .ctr-select {
   display: flex;
   flex-direction: row; 
   justify-content: flex-start;
   width: 120px;
   height: 28px;
   order: 1;
   font-size: 16px;
   line-height: 3;
   position: relative;     
   overflow: hidden;
   border-radius: 4px;
   background: transparent !important;
   border: 1px solid var(--bi-color-default)
}
.bi-datatable-controls .bi-dtc-select .ctr-select::after {
   content: "";
   position: absolute;
   right: 10px;
   top: 8px;
   z-index: 9999;
   width: 8px;
   height: 8px;   
   border: 2px solid grey;
   border-top: transparent;
   border-right: transparent;
   cursor: pointer;
   transform: rotate(-45deg);
   pointer-events: none;
   transition: all 0.3s linear;
}
.bi-datatable-controls .bi-dtc-select .ctr-select > select {
   -webkit-appearance: none;
   -moz-appearance: none;
   -ms-appearance: none;
   appearance: none;
   outline: 0;
   box-shadow: none;
   border: none;
   background-image: none;
   background: transparent !important;
   width: 30%;
   flex: 1;
   padding: 0 .5em;
   color: var(--bi-color-default);   
   cursor: pointer;
   font-size: 1em;
   font-family: inherit;
}
.bi-datatable-controls .bi-dtc-select .ctr-select > select::-ms-expand {
   display: none;
}
.bi-datatable-controls .bi-dtc-select .ctr-select:hover {
   border-color: var(--bi-color-primary);
}
.bi-datatable-controls .bi-dtc-select .ctr-select > select:focus,
.bi-datatable-controls .bi-dtc-select .ctr-select > select:active,
.bi-datatable-controls .bi-dtc-select .ctr-select > select:focus-within,
.bi-datatable-controls .bi-dtc-select .ctr-select > select:active-within {
   border-radius: 4px;
}
.bi-datatable-controls .bi-dtc-search {
   display: flex;
   flex-direction: row; 
   justify-content: flex-end;
   width: 70%;
   order: 2;
}
.bi-datatable-controls .bi-dtc-search .ctr-search {
   width: 50%;
   height: 28px;
}

.bi-datatable-controls .bi-dtc-search .ctr-search > input {
   -webkit-text-fill-color: currentColor;
   box-shadow: none;
   font-family: inherit;
   font-size: inherit;
   line-height: inherit; 
   display: block;
   box-sizing: border-box;
   width: 100%;
   height: 29px;
   border: none; 
   margin: 0;
   padding: 0 8px;
   color: var(--bi-color-default);   
   caret-color: var(--bi-color-default);
   border: 1px solid var(--bi-color-default);
   background-color: transparent;
   border-radius: 4px;
} 
.bi-datatable-controls .bi-dtc-search .ctr-search:hover > input {
   border-color: var(--bi-color-primary);
}
.bi-datatable-controls .bi-dtc-search .ctr-search > input:focus {
   border-color: var(--bi-color-primary);
   outline: none;
}
.bi-datatable-paginator {
   display: flex;
   flex-direction: row;
   justify-content: center; 
   align-items: center;
   width: 100%;
   height: 32px;
}
.bi-datatable-paginator .bi-pg-prev,
.bi-datatable-paginator .bi-pg-next {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width: 28px; 
   height: 28px;
   cursor: pointer;
   user-select: none;
   font-size: 1.2em;
   margin: 0 2px;
   background: var(--bi-datatable-paginator-bg);
   color: var(--bi-datatable-paginator-color);   
}
.bi-datatable-paginator .bi-pg-prev:hover,
.bi-datatable-paginator .bi-pg-next:hover {
   background: var(--bi-datatable-paginator-bg-action);
   color: var(--bi-datatable-paginator-color-action);
}
.bi-datatable-paginator .bi-pg-info {
   color: var(--bi-datatable-paginator-info);
}
.bi-datatable table {
   width: 100%;
   margin: 0;
   padding: 0; 
   table-layout: fixed;
   border: 1px solid #ccc;
   border-collapse: collapse;   
}
.bi-datatable table > thead {
   -webkit-user-select: none;  
   -moz-user-select: none;    
   -ms-user-select: none;      
   user-select: none;
   background: #f6f6f6;
   color:#545454;
}
.bi-datatable table tr {
   border: 1px solid #ddd;
   padding: .35em;
}
.bi-datatable table th,
.bi-datatable table td {
   padding: .625em;
   text-align: center;
}
.bi-datatable table th {
   font-size: .85em;
   letter-spacing: .1em;
   text-transform: uppercase;
}