/* Utilities */
@import "./utilities/birdie-utilities.css";

/* Components */
@import "./components/birdie-components.css";

html, body {
   position: relative;
   width: 100%;
   height: 100%;
}
body {
   box-sizing: border-box;	
	margin: 0;
	padding: 0;	
   background: #f6f6f6;
   color: #434343;
	font-family: "Roboto", "Segoe UI", BlinkMacSystemFont, system-ui, -apple-system, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
   font-size: 16px;
   color: var(--birdie-default-color);
   background-color: var(--birdie-faded-bg);
}
  
